<div *ngIf="car" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="row">
      <div class="col-md-6">
        <img [src]="car.imageUrl" class="d-block w-100" alt="Car Image" />
      </div>
      <div class="col-md-6">
        <h2>{{ car.registrationNumber }}</h2>
        <h4>{{ car.pricePerDay | currency:'USD' }}</h4>
        
        <div *ngIf="car.pricePerDay">
          <p><strong>Type:</strong> {{ car.pricePerDay }}</p>
        </div>
        <div *ngIf="car.numberOfSeats">
          <p><strong>Seats:</strong> {{ car.numberOfSeats }}</p>
        </div>
        <div *ngIf="car.featureIds && car.featureIds.length > 0">
          <p><strong>Features:</strong> {{ getFeatureNames(car.featureIds) }}</p>
        </div>
        <div *ngIf="car.fuelTypeId">
          <p><strong>Fuel Type:</strong> {{ getFuelTypeName(car.fuelTypeId) }}</p>
        </div>
        <div *ngIf="car.transmissionId">
          <p><strong>Transmission:</strong> {{ getTransmissionName(car.transmissionId) }}</p>
        </div>
        
        <div class="rating">
          <p>Rating: ★★★★☆</p>
        </div>
        <p><strong>Description:</strong></p>
        <p>[Add description of the car here...]</p>
      </div>
    </div>
  </div>
</div>