<div class="container mt-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" (click)="goBack()" style="cursor: pointer;">
      <i class="fas fa-arrow-left"></i> Back to User Page
    </a>
  </nav>

  <h2 class="mt-4">Rental Details</h2>

  <!-- Pending Requests Table -->
  <h4>Pending Requests</h4>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Car Image</th>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Rent Date</th>
        <th>Return Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of pendingRequests">
        <td><img [src]="request.car.imageUrl" alt="Car Image" style="width: 100px; height: auto;"></td>
        <td>{{ request.car.registrationNumber }}</td>
        <td>{{ getCarModel(request.car.modelId) }}</td>
        <td>{{ request.rentalDate | date }}</td>
        <td>{{ request.returnDate | date }}</td>
        <td>{{ getStatus(request.status) }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Rented Table -->
  <h4>Rented Cars</h4>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Car Image</th>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Rent Date</th>
        <th>Return Date</th>
        <th>Overdue</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentedCars">
        <td><img [src]="rental.car.imageUrl" alt="Car Image" style="width: 100px; height: auto;"></td>
        <td>{{ rental.car.registrationNumber}}</td>
        <td>{{ getCarModel(rental.car.modelId) }}</td>
        <td>{{ rental.rentalDate | date }}</td>
        <td>{{ rental.returnDate | date }}</td>
        <td>{{ rental.isOverdue ? 'Yes' : 'No' }}</td>
        <td>{{ getStatus(rental.status) }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Return History Table -->
  <h4>Return History</h4>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Car Image</th>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Rent Date</th>
        <th>Return Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of returnHistory">
        <td><img [src]="history.car.imageUrl" alt="Car Image" style="width: 100px; height: auto;"></td>
        <td>{{ history.car.registrationNumber }}</td>
        <td>{{ getCarModel(history.car.modelId) }}</td>
        <td>{{ history.rentalDate | date }}</td>
        <td>{{ history.returnDate | date }}</td>
        <td>{{ getStatus(history.status) }}</td>
      </tr>
    </tbody>
  </table>
</div>