<p>all-cars works!</p>
<div class="container py-4">
    <!-- Search Filter -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <input
          type="text"
          class="form-control w-50 mx-auto"
          placeholder="Search cars..."
          [(ngModel)]="filterText"
          (input)="filterCars()"
        />
      </div>
    </div>
  
    <!-- Grid for Large and Medium Screens -->
    <!-- <div class="row d-none d-md-flex ">
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-4"
        *ngFor="let car of filteredCars"
      >
        <section class="car-section">
          <div>
            <img class="card-img" [src]="car.image" alt="Car image" />
          </div>
          <div class="carName">
            <h3>{{ car.name }}</h3>
          </div>
          <div class="carprice">
            <h4>{{ car.price }}</h4>
          </div>
          <div>
            <div class="row">
              <div class="col-6">
                <p><i class="bi bi-car-front"></i> {{ car.type }}</p>
              </div>
              <div class="col-6">
                <p><i class="bi bi-person"></i> {{ car.seats }} Seats</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p><i class="bi bi-door-open"></i> {{ car.doors }} Doors</p>
              </div>
              <div class="col-6">
                <p><i class="bi bi-snow2"></i> AC</p>
              </div>
            </div>
          </div>
          <div class="carbtn">
            <button>Detail</button>
            <button>Rent</button>
          </div>
        </section>
      </div>
    </div> -->
  
    <!-- Carousel for All Screens -->
    <!-- <div id="carCarousel" class="carousel slide d-md-none" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let car of filteredCars; let i = index"
          [class.active]="i === 0"
        >
          <section class="car-section mx-auto">
            <div>
              <img class="card-img" [src]="car.image" alt="Car image" />
            </div>
            <div class="carName">
              <h3>{{ car.name }}</h3>
            </div>
            <div class="carprice">
              <h4>{{ car.price }}</h4>
            </div>
            <div>
              <div class="row">
                <div class="col-6">
                  <p><i class="bi bi-car-front"></i> {{ car.type }}</p>
                </div>
                <div class="col-6">
                  <p><i class="bi bi-person"></i> {{ car.seats }} Seats</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p><i class="bi bi-door-open"></i> {{ car.doors }} Doors</p>
                </div>
                <div class="col-6">
                  <p><i class="bi bi-snow2"></i> AC</p>
                </div>
              </div>
            </div>
            <div class="carbtn">
              <button>Detail</button>
              <button>Rent</button>
            </div>
          </section>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>     -->
  <!-- </div> -->
  

  <div class="row">
    <div
      class="col-12 col-md-6 col-lg-4 mb-4"
      *ngFor="let car of filteredCars"
    >
      <section class="car-section">
        <div>
          <img class="card-img" [src]="car.image" alt="Car image" />
        </div>
        <div class="carName">
          <h3>{{ car.name }}</h3>
        </div>
        <div class="carprice">
          <h4>{{ car.price }}</h4>
        </div>
        <div>
          <div class="row">
            <div class="col-6">
              <p><i class="bi bi-car-front"></i> {{ car.type }}</p>
            </div>
            <div class="col-6">
              <p><i class="bi bi-person"></i> {{ car.seats }} Seats</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p><i class="bi bi-door-open"></i> {{ car.doors }} Doors</p>
            </div>
            <div class="col-6">
              <p><i class="bi bi-snow2"></i> AC</p>
            </div>
          </div>
        </div>
        <div class="carbtn">
          <button>Detail</button>
          <button>Rent</button>
        </div>
      </section>
    </div>
  </div>
  
